*, *::before, *::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{

  /* Cores */
  --bg-primary: #f4f5fb;
  --bg-secondary: #ffffff;
  --color-brand: #ca3884;
  --brand-hover: #a52c6b;
  --danger: #c93847;
  --content-primary: #080b12;
  --content-secondary: #374151;
  --content-tertiary: #9ca3af;
  --bd-primary: #d1d5db;
  --bd-hover: #b9c2d0;
  --text-white: #ffffff;

  /* Fontes */
  --fonte-family: "Inter", sans-serif;
  --title: 600 1.5rem/2rem var(--font-family);
  --label: 550 1rem/1.25rem var(--font-family);
  --parag: 500 1rem/1.25rem var(--font-family);
  --link-sm: 500 0.875rem/1rem var(--font-family);

  /* Tamanhos */
  --max-width: 23,4375rem;

}

body{
  background-color: var(--bd-primary);
}

main{
  max-width: var(--max-width);
  margin-inline: auto;
  display: grid;
  gap: 2.75rem;
  padding: 5rem 2rem;

  & #back{
    display: grid;
    gap: 1rem;

    & span{
      cursor: pointer;
      display: flex;
      gap: 0.25rem;
      color: var(--color-brand);
      font: var(--link-sm);
      transition: filter 200ms ease;

      & img{
        rotate: 180deg
      }

      &:hover{
        filter: brightness(85%)
      }
    }

    & h1{
      font: var(--title);
      color: var(--content-primary);
    }

  }
}

form {
  display: grid;
  gap: 1rem;

  & input{
    width: 100%;
    height: 2.75rem;
    border-radius: 0.75rem;
    border: 2px solid var(--bd-primary);
    padding-left: 1rem;
    background-color: var(--bg-secondary);
    transition: border 400ms ease;

    &::placeholder{
      color: var(--content-tertiary);
    }

    &:hover{
      border-color: var(--bd-hover);
    }

    &:focus{
      border: 2px solid var(--color-brand);
    }
  }

  & button{
    cursor: pointer;
    height: 2.75rem;
    border-radius: 0.75rem;
    border: none;
    background-color: var(--color-brand);
    color: var(--text-white);
    font: var(--label);
    transition: background-color 400ms ease;

    &:hover{
      background-color: var(--brand-hover);
    }
  }
}

.item{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.75rem;
  width: 100%;
  height: 3rem;
  background-color: var(--bg-secondary);
  border-radius: 0.75rem;
  color: var(--content-secondary);
  font: var(--parag);

  & div{
    display: flex;
    align-items: center;
    gap: 0.75rem;

    & input{
      all: unset;
      width: 1rem;
      height: 1rem;
      background-color: var(--bg-secondary);
      border: 1px solid var(--bd-primary);
      border-radius: 0.35rem;
      transition: border-color 300ms ease;

      &:hover{
        border-color: var(--bd-hover);
      }

      &:checked{
        background: url(./icons/state=selected.svg);
        background-size: 120%;
        background-position: 50%;
      }
    }
  }

  & button{
    cursor: pointer;
    border: none;
    background-color: transparent;
    transition: scale 400ms ease;

    &:hover{
      scale: 1.2;
    }
  }
}

& img{
  width: 1rem;
  aspect-ratio: 1;
}

.alert {
  display: flex;
  width: 100%;
  height: 2.75rem;
  background-color: var(--danger);
  border-radius: .75rem;
  justify-content: space-between;
  padding: .75rem;

  & div {
      font: var(--label);
      color: var(--bg-secondary);
      display: flex;
      align-items: center;
      gap: .5rem;
  }

  & button {
      border: none;
      background-color: transparent;
      cursor: pointer;
      transition: scale 400ms ease;
      &:hover {
         scale: 1.2;
     }
 }

}

.error {
  margin-top: .25rem;
  margin-left: .5rem;
  display: flex;
  align-items: center;
  gap: .25rem;
  font: var(--link-sm);
  color: var(--danger);
  & img {
      width: 1rem;
      aspect-ratio: 1;
  }
}

.danger {
  border-color: var(--danger);
} 
